/******************************************************************************
 *   Extra - Put your extra SASS/CSS here, it will get bundled with abridge.css
 *****************************************************************************/

.profile {
  border-radius: 50%;
  display: block;
  margin: 5% auto;
}
