---
# Let's add a comment to make this file sass-y.
# Change this file for any custom CSS.
---

/* We need to add display:inline in order to align the '>>' of the 'read more' link */
.post-excerpt p {
	display:inline;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"syntax"
;

/* done't use the big cover image on the homepage */

.site-head {
   background-color: #2B2B2B;
   background-size: cover;
   height: 200px;
}


/* Add a container for the above the header*/

.container {
  position: relative;
  width:80%;
  max-width: 700px;
  margin: 4rem auto;
}

.header {
  margin: 75px 0 25px 0;
}
.header a, .header b {
  color: #444;
  text-decoration: none;
  transition: color 0.25s ease-in;
  -webkit-transition: color 0.25s ease-in;
}
.header a:hover, .header a:hover b {
  color: #307EA9;
}

.author-thumb {
    width: 24px;
    height: 24px;
    float: left;
    margin-right: 9px;
    border-radius: 100%;
}

/* Changed .name to handwritten. When I made up my mind I will delete the previous commented block :) */

.name {
  font-size: 30px; 
  line-height: 1.143em; 
  font-family: "Palatino Linotype", Palatino, Georgia, "Times New Roman", Times, serif;
}


.meta {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  float: right;
}

.meta a {
  font-size: 24px;
  color: #555;
  text-decoration: none;
  transition: color 0.15s ease-in;
  -webkit-transition: color 0.15s ease-in;
}

.meta a:hover {
  color: #307EA9;
}

.meta .block {
  display: inline-block;
  vertical-align: top;
}
